header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 40px;
    margin-top: 30px;
    border-bottom: 1px solid var(--light-gray-clr);
}
header button{
    border:none;
    outline: none;
}
header button:hover{
    cursor: pointer;
}
nav{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3em;
}
.logo{
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 1rem;
    margin-top: 7px;
    margin-left: 10px;
}
.logo .burger-icon{
    display: none;
    margin-top: 5px;
}


nav ul{
    display: flex;
    list-style-type: none;
    gap: 1em;
    margin-top: 5px;
    color: var(--dark-gray-clr);
    
}
nav ul li{
    position: relative;
   
}
nav ul li:hover{
    cursor: pointer;
    font-weight: 900;
}
 nav ul li::before{
    content: " ";
    display:none;
    position: absolute;
    height: 10px;
    width: 100%;
    border-bottom: 3px solid var(--orange-clr);
    padding-bottom: 61px;
    transition: all 0.5s ease-in-out;
 }
 nav ul li:hover::before{
    display: block;
 }
 ul .close-icon{
    display: none;
}
 ul .close-icon.active{
    display: block;
}

h1 {
    font-size: 2.2em;
  }
.shopping-container{
    display: flex;
    gap: 2em;
    justify-content: center;
    align-items: center;
}

.user-avatar img{
    height: 50px;
    width: 50px;
    border-radius:100%;
}
.user-avatar img:hover{
    cursor: pointer;
    border: 1px solid var(--orange-clr);
}
.user-shopping-cart{
    position: relative;
}
.user-shopping-cart img:hover{
    cursor: pointer;
}


.user-shopping-cart span {
    position: absolute;
    min-width: 25px;
    text-align: center;
    top: -9px;
    right: -15px;
    border: 0px solid;
    background-color: var(--orange-clr);
    border-radius: 30%/50%;
    padding: 1px 5px;
    color: white;
    font-size: 13px;
}
.vertical-nav{
    display: flex;
    list-style-type: none;
    gap: 1em;
    margin-top: 7px;
    flex-direction: column;
    background-color: white;
    color: black;
    position: absolute;
    top: -7px;
    z-index: 20;
    left: 0;
    height: 70vh;
    width: 40vw;
    border-radius: 0px 13px 12px 0px;
    transition: all 0.5s ease-in-out;
}
/* Media Queries */

@media (max-width: 600px) {    
    .logo .burger-icon{
        display: block;
    } 
    nav ul li{
    margin: 15px 15px;

  }
  nav ul li:hover::before{
    display: none;
 }
 .nav-items{
    display: none;
 }
}