@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');
:root{
  --orange-clr :hsl(26, 100%, 55%);
  --pale-orange-clr :hsl(25, 100%, 94%);
  --light-gray-clr :hsl(220, 14%, 75%);
  --dark-gray-clr : hsl(219, 9%, 45%);
}
#root {
  max-width: 1280px;
  margin: 0 auto;
  font-family: 'Kumbh Sans', sans-serif;
}

.container{
  margin-top: 30px;
  position: relative;
}
main{
  display:flex;
}